* {
    box-sizing: content-box;
}

html, body, h1, p {
    margin: 0px;
    padding: 0px;
}
/* main ve 2 parca ve footer olmak uzre 3 parcaya bäldüm, grid ile . her bir grid parcasinin alt elemanlarinda flex özelligi kullanildi.*/
#grid-container {
    display: grid;
grid-template-areas: 'main form' ' footer footer';
}
body {
    background-color: #f0f6fc;
}
.grid-left {
    background-color: #f0f6fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: main;
    padding: 50px;
    width: 50vw;
    height: 92vh;
}
.grid-left > h1 {
    font-family:Helvetica, Arial, sans-serif; 
    font-style: normal;
    font-size: 62px;
    line-height: 36px;
    color: #2b79ee;
}
.grid-left > p {
    font-family:Helvetica, Arial, sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 26px;
    color: #1c1e21;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 3vh;
}
/* form */
.grid-right {
    background-color: #f0f6fc;
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 92vh;
    padding: 50px;
}

.container-right {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: auto;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input , #contentCurve, #anmelden{
    width: 325px;
    height: 50px;
    margin:  10px 15px;
    border-radius: 5px;
}
#password-vergessen{
    text-align: center;
}
.container-right> p {
    text-align: center;
    color: #0b1e3b;
    margin: 8px;
}
#anmelden {
    background-color: #2b79ee;
    color: #f0f6fc;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#btn-sing-up{
    margin:0  70px;
    margin-bottom: 15px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(102, 207, 102);
    color: #f0f6fc;
}
.container-right-bottom{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
/* footer  */

.grid-bottom {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    grid-area: footer;
}
.list-top {
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    margin-left: 13vw;
}
.list-bottom {
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    margin-left: 13vw;
}

.footer-end {
    margin-left: 15vw;
}
.footer-end > span {
    font-family:Helvetica, Arial, sans-serif; 
    font-weight: 100;
    font-style: normal;
    font-size: 11px;
    line-height: 26px;
    color: #1c1e21;
}

li {
    margin: 0.5px 3px ;
}

.btn_lenguage {
    background-image:url(img/align-middle.svg) ;
}
@media screen and (max-width: 700px) {
    #grid-container {
        display: grid;
        grid-template-areas: 'main' 'form ' 'footer';
    }
    .grid-left, .grid-right {
        height: fit-content;
        display: flex;
        padding: 100px;
    }
  
}